/* ==========================================
                CSS MENU
                1. GLOBAL 
                2. BACKGROUND
                3. MAIN
=============================================*/
:root {
  /* VARIABLES  */
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ==========================================
                1. GLOBAL STYLES
=============================================*/
html,
body {
  margin: 0;
  overflow-x: hidden;
}

/* ==========================================
                2. BACKGROUND MODEL
=============================================*/
canvas#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ==========================================
                3. MAIN STYLES
=============================================*/
main {
  position: relative;
  z-index: 10;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2em;
}
