/* ==========================================
                CSS MENU
                1. GLOBAL 
                2. BACKGROUND
                3. MAIN
                4. HERO SECTION
                5. WORK
                6. CLIENTS
                7. ABOUT
=============================================*/
:root {
  /* VARIABLES  */
  --gray-100: rgb(199, 199, 199);
  --gray-200: rgb(161, 161, 161);

  --blue-100: rgb(91, 222, 255);
  --blue-200: rgb(0, 204, 255);

  --orange-100: rgb(255, 189, 74);
  --orange-200: rgb(255, 64, 0);

  --violet-100: rgb(174, 0, 255);
  --greenYellow-100: rgb(173, 255, 47);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ==========================================
                1. GLOBAL STYLES
=============================================*/
html,
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: aqua;
}
/* ==========================================
                2. BACKGROUND MODEL
=============================================*/
canvas#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ==========================================
                3. MAIN STYLES
=============================================*/
main {
  position: relative;
  z-index: 10;
  background: linear-gradient(rgba(14, 14, 14, 0.5), rgba(0, 0, 0, 0.3));
}

section {
  min-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2em;
  color: white;
}

/* ==========================================
                4. HERO SECTION
=============================================*/
.hero_sec {
  display: flex;
  min-height: 100vh;
}

.hero_sec_arrow {
  height: 25rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
  .line {
    background-color: var(--gray-100);
    height: 25rem;
    width: 0.2rem;
    animation: bounceArrow 1.8s infinite ease-in-out;
  }
  i {
    color: var(--gray-100);
    animation: bounceArrow 1.8s infinite ease-in-out;
  }
}
.hero_sec_content {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.hero_sec_title_wrapper {
  width: 100%;
  padding: 0.5em 2em;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.hero_sec_design_top,
.hero_sec_design_bottom {
  width: 100%;
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.first_row {
  display: flex;
  gap: 1rem;
}

.first_row > div:nth-child(1) {
  height: 0.6rem;
  width: 10rem;
  background: linear-gradient(120deg, var(--blue-100), var(--violet-100));
}
.hero_sec_design_bottom > .first_row > div:nth-child(1) {
  width: 25rem;
  background: linear-gradient(120deg, var(--orange-100), var(--orange-200));
}

.hero_sec_design_bottom > .first_row > div:nth-child(2) {
  display: none;
}

.first_row > div:nth-child(2) {
  height: 0.6rem;
  width: 5rem;
  background: var(--gray-200);
}

.first_row > div:nth-child(3) {
  height: 0.6rem;
  width: 0.6rem;
  background: var(--gray-200);
  border-radius: 50%;
}

.second_row {
  display: flex;
  gap: 1rem;
}

.second_row > div:nth-child(1) {
  height: 0.6rem;
  width: 17rem;
  background: linear-gradient(120deg, var(--blue-100), var(--violet-100));
}

.third_row {
  display: flex;
  gap: 1rem;
}

.third_row > div:nth-child(1) {
  height: 0.6rem;
  width: 6rem;
  background: linear-gradient(120deg, var(--orange-100), var(--violet-100));
}
.hero_sec_design_bottom > .third_row > div:nth-child(1) {
  background: linear-gradient(120deg, var(--blue-100), var(--violet-100));
}

.third_row > div:nth-child(2) {
  height: 0.6rem;
  width: 1rem;
  background: var(--gray-200);
}

.third_row > div:nth-child(3) {
  height: 0.6rem;
  width: 0.6rem;
  background: var(--gray-200);
  border-radius: 50%;
}
.hero_sec_design_bottom > .third_row > div:nth-child(3) {
  display: none;
}
.third_row > div:nth-child(4) {
  height: 0.6rem;
  width: 10rem;
  background: linear-gradient(45deg, var(--violet-100), var(--blue-200));
}

.hero_sec_design_bottom > .third_row > div:nth-child(4) {
  background: linear-gradient(45deg, var(--orange-200), var(--orange-100));
}

/* ==========================
   ON-LOAD HERO ANIMATIONS
===========================*/
.hero_sec_design_top,
.hero_sec_design_bottom {
  opacity: 0;
}

.hero_sec_design_top.animate-in {
  animation: slideInTop 1.2s ease-out forwards;
}

.hero_sec_design_bottom.animate-in {
  animation: slideInBottom 1.2s ease-out forwards;
}

.hero_sec_title {
  font-size: 3.5rem;
  font-weight: 600;
}

.hero_sec_subtitle > span:last-child {
  font-style: italic;
  color: var(--greenYellow-100);
  font-weight: 600;
}

.typing::after {
  content: "|";
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

.hero_sec_socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.hero_sec_socials a {
  color: var(--gray-100);
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.hero_sec_socials a:hover {
  color: var(--blue-200);
  transform: scale(1.2);
}

.hero_sec_contact {
  color: var(--gray-100);
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  background-color: red;
}

.hero_sec_contact p {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin: 0.2rem 0;
}

.hero_sec_contact i {
  color: var(--blue-200);
  font-size: 1.1rem;
}

/* ==========================================
                ANIMATIONS
=============================================*/
@keyframes bounceArrow {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(8px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes slideInTop {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ==========================================
                5. WORK
=============================================*/

.work_sec {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}

.work_sec_title {
  font-size: xx-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;

  div {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.1em;
    border-radius: 50%;
    background: linear-gradient(35deg, var(--blue-100), greenyellow);
  }
}

.work_sec_main {
  display: flex;
  gap: 1rem;
}

.work-1 > span,
.work-2 > span {
  font-size: 1.7rem;
  font-weight: 550;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.work-1 > i,
.work-2 > i {
  color: aqua;
  cursor: pointer;
  font-size: 1rem;
}
.work-1 > a,
.work-2 > a {
  animation: blink 1.5s infinite ease-in-out;
}
.work_desc {
  font-size: 1rem;
  max-width: 40rem;
  color: var(--gray-100);
  cursor: pointer;
}
.work_tags {
  margin: 1em 0em;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  width: 64vw;
  align-items: center;
}

.work_tags > span {
  background: var(--blue-200);
  padding: 0.2em 0.4em;
  border-radius: 2rem;
  width: max-content;
}

.work-1:hover,
.work-2:hover {
  color: white;
}

.work_sec_content {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  border-radius: 1.2rem;
  width: 85vw;
}

.work-1-img,
.work-2-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;

  filter: brightness(0.3) blur(1rem);
  scale: 1.2;
  opacity: 0;
  transition: all 1s ease;
}

.work-1:hover + .work-1-img,
.work-2:hover + .work-2-img {
  opacity: 1;
  scale: 1;
  filter: brightness(0.5) blur(0.1rem);
}

/* ==========================================
                6. CLIENTS
=============================================*/
.clients_sec {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.clients_sec_title {
  font-size: xx-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;

  div {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.1em;
    border-radius: 50%;
    background: linear-gradient(35deg, var(--orange-100), aqua);
  }
}

.clients_caraousal {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.caraousal_track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scroll 18s linear infinite;
}

.clients_logo img {
  height: 7rem;
  filter: grayscale(80%) brightness(0.8);
  border-radius: 1rem;
  scale: 1;
  transition: all 0.4s ease;
}

.clients_logo img:hover {
  filter: grayscale(0%) brightness(1);
  scale: 1.05;
}

.clients_caraousal:hover .caraousal_track {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ==========================================
                7. ABOUT
=============================================*/

.about_sec {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}

.about_sec_title {
  font-size: xx-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;

  div {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.1em;
    border-radius: 50%;
    background: linear-gradient(35deg, var(--blue-100), var(--orange-100));
  }
}

.about_sec_main {
  display: flex;
  gap: 1rem;
}
